# Ignorer tous les fichiers de log
logs/*.access_log
logs/*.error_log

# Ignorer les fichiers de configuration locaux (à adapter si nécessaire)
.env
*.env.local

# Ignorer les fichiers des sous-modules potentiellement problématiques
backend/.git
frontend/.git

# Ignorer les fichiers compilés, caches et autres éléments temporaire
node_modules/
.DS_Store
*.log
*.pub
logs/
.ssh
mail.dev.alxmultimedia.com

.trash
# Ignorer les répertoires frontend et backend
frontend/
backend/

# Ignorer les fichiers de build générés
public_html/build/
*.map

/public_html/build/asset-manifest.json
/public_html/build/index.html
/public_html/build/static/js/main.9941bbaa.js
/public_html/build/static/js/main.9941bbaa.js.LICENSE.txt
/public_html/build/static/js/main.9941bbaa.js.map

/dev.alxmultimedia.com/script/